<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIS Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
    <script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <div class="inner-container">
            <div class="left-section">
                <div class="forgot-password-container">
                    <h2 class="forgot-title">Reset Your Password ?</h2>
                    <p class="forgot-subtitle">Enter your email address below, and we'll send you instructions to reset your password.</p>
                    <input type="email" class="forgot-input" placeholder="Enter your email" required>
                    <button class="forgot-btn">Send Reset Link</button>
                    <p class="back-to-login"><a href="{{ url_for('login') }}">Back to Log In</a></p>
                </div>
            </div>
            <div class="right-section">
                <img src="{{ url_for('static', filename='images/forgot_img.png') }}" 
                alt="Forgot Password" 
                class="right-image" 
                style="filter: contrast(1);">
         </div>
      </div>
   </body>
</html>
