{% extends "base.html" %}

{% block content %}
      <section>
        
        <!-- Swiper-->
        <div class="swiper-container swiper-slider swiper-slider-1" data-loop="false" data-autoplay="5000" data-simulate-touch="false">
          <div class="swiper-wrapper">

            <div class="swiper-slide" data-slide-bg="{{ url_for('resize_image_route', filename='fdg1.jpg') }}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <!-- <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">Quality Higher Education</h6>
                        <h2 data-caption-animate="slideInLeft" data-caption-delay="300">Any Successful Career Starts  <span class="text-italic font-weight-bold">With Good Education</span>
                        </h2>
                        <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-primary" href="#"><span>sign up for excursion</span></a></div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="swiper-slide" data-slide-bg="{{ url_for('resize_image_route', filename='fdg2.jpg') }}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <!-- <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">A vAriety of programs</h6>
                        <h2 data-caption-animate="slideInLeft" data-caption-delay="300">Providing Students with  <span class="text-italic font-weight-bold">Professional Education</span>
                        </h2>
                        <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-primary" href="#"><span>sign up for excursion</span></a></div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="swiper-slide" data-slide-bg="{{ url_for('resize_image_route', filename='fdg3.jpg') }}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <!-- <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">Campus Community</h6>
                        <h2 data-caption-animate="slideInLeft" data-caption-delay="300">Become a Part of Our Campus and <span class="text-italic font-weight-bold">Make Friends</span>
                        </h2>
                        <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-primary" href="#"><span>sign up for excursion</span></a></div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-pagination"></div>

        </div>
      </section>

      <!-- A Few Words About Me-->
      <section class="section section-md bg-gray-100">
        <div class="container">
          <div class="row row-20 justify-content-center justify-content-lg-between">
              <h3 class="h-custom-1 f1">A Few Words About Us</h3>
            <div>
              <p>At Bradston College, we aim to deliver high-quality education and training that responds to the needs of employers and individuals. We are working to deliver courses that are developed in conjunction with employers.</p><a class="button button-primary" href="#"><span>read more</span></a>
            </div>
            <!-- AREA REMOVED 2 -->
          </div>
        </div>
      </section>
      <!-- Featured Projects-->
      <section class="section section-lg bg-default text-center">
        <div class="container">
          <h2 class="wow fadeIn">Our Featured Events</h2>
          <div class="row row-30 row-md-50 row-xl-70">
            <div class="col-sm-6 col-lg-4 wow fadeIn">

              <!-- Post Minimal-->
              <div class="post-minimal">
                <figure class="post-minimal-media"><a href="#"><img class="post-minimal-image" src="{{ url_for('static', filename='images/Event1.jpg') }}" alt="" width="370" height="260"/></a></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">Teacher: </li>
                    <li class="list-inline-itema"><a href="#">Charles Banks</a></li>
                  </ul>
                </div>
                <h4 class="post-minimal-title"><a href="#">Financial Analyst Course</a></h4>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".2s">

              <!-- Post Minimal-->
              <div class="post-minimal">
                <figure class="post-minimal-media"><a href="#"><img class="post-minimal-image" src="{{ url_for('static', filename='images/Event2.jpg') }}" alt="" width="370" height="260"/></a></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">Teacher: </li>
                    <li class="list-inline-itema"><a href="#">Maria Howard</a></li>
                  </ul>
                </div>
                <h4 class="post-minimal-title"><a href="#">Digital Marketing Course</a></h4>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".4s">

              <!-- Post Minimal-->
              <div class="post-minimal">
                <figure class="post-minimal-media"><a href="#"><img class="post-minimal-image" src="{{ url_for('static', filename='images/Event3.jpg') }}" alt="" width="370" height="260"/></a></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">Teacher: </li>
                    <li class="list-inline-itema"><a href="#">Steven Carter</a></li>
                  </ul>
                </div>
                <h4 class="post-minimal-title"><a href="#">Graphic Design Course</a></h4>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeIn">

              <!-- Post Minimal-->
              <div class="post-minimal">
                <figure class="post-minimal-media"><a href="#"><img class="post-minimal-image" src="{{ url_for('static', filename='images/Event4.jpg') }}" alt="" width="370" height="260"/></a></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">Teacher: </li>
                    <li class="list-inline-itema"><a href="#">Julie Weaver</a></li>
                  </ul>
                </div>
                <h4 class="post-minimal-title"><a href="#">Computer Science </a></h4>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".2s">

              <!-- Post Minimal-->
              <div class="post-minimal">
                <figure class="post-minimal-media"><a href="#"><img class="post-minimal-image" src="{{ url_for('static', filename='images/Event5.jpg') }}" alt="" width="370" height="260"/></a></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">Teacher: </li>
                    <li class="list-inline-itema"><a href="#">Kathy Gibson</a></li>
                  </ul>
                </div>
                <h4 class="post-minimal-title"><a href="#">Political Economy</a></h4>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".4s">

              <!-- Post Minimal-->
              <div class="post-minimal">
                <figure class="post-minimal-media"><a href="#"><img class="post-minimal-image" src="{{ url_for('static', filename='images/Event6.jpg') }}" alt="" width="370" height="260"/></a></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">Teacher: </li>
                    <li class="list-inline-itema"><a href="#">Walter Myers</a></li>
                  </ul>
                </div>
                <h4 class="post-minimal-title"><a href="#">Mathematics and Statistics</a></h4>
              </div>
            </div>
          </div><a class="button button-lg button-primary wow fadeIn" data-wow-delay=".2s" href="https://www.facebook.com/profile.php?id=100050417246864" target="_blank"><span>view More</span></a>
        </div>
      </section>
      <!-- Latest Blog Posts-->
      <section class="section section-lg bg-default text-center">
        <div class="container">
          <h2 class="wow fadeIn">Latest Blog Posts</h2>
          <div class="row row-30 justify-content-center">
            <div class="col-sm-10 col-md-6 wow fadeIn">
              <!-- Post Light-->
              <a class="post-light context-dark" href="#" style="background-image: url('{{ url_for('static', filename='images/Event6.jpg') }}');">
                <div class="post-light-inner">
                  <div class="badge">News</div>
                  <div class="post-light-main">
                    <time class="post-light-time" datetime="2019">July 5, 2019, at 12:07 pm</time>
                    <h4 class="post-light-title">Campus Opening Convocation</h4>
                  </div>
                </div></a>
            </div>
            <div class="col-sm-10 col-md-6 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Light-->
              <a class="post-light context-dark" href="#" style="background-image: url('{{ url_for('static', filename='images/Event4.jpg') }}');">
                <div class="post-light-inner">
                  <div class="badge">News</div>
                  <div class="post-light-main">
                    <time class="post-light-time" datetime="2019">July 5, 2019, at 12:07 pm</time>
                    <h4 class="post-light-title">Freshman Matriculation Ceremony at Bradston College</h4>
                  </div>
                </div></a>
            </div>
            <div class="col-sm-10 col-md-6 wow fadeIn">
              <!-- Post Light-->
            <a class="post-light context-dark" href="#" style="background-image: url('{{ url_for('static', filename='images/Event1.jpg') }}');">
                <div class="post-light-inner">
                  <div class="badge">News</div>
                  <div class="post-light-main">
                    <time class="post-light-time" datetime="2019">July 5, 2019, at 12:07 pm</time>
                    <h4 class="post-light-title">Bradston College Leadership Academy</h4>
                  </div>
                </div></a>
            </div>
            <div class="col-sm-10 col-md-6 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Light-->
              <a class="post-light context-dark" href="#" style="background-image: url('{{ url_for('static', filename='images/Event6.jpg') }}');">
                <div class="post-light-inner">
                  <div class="badge">News</div>
                  <div class="post-light-main">
                    <time class="post-light-time" datetime="2019">July 5, 2019, at 12:07 pm</time>
                    <h4 class="post-light-title">Incoming Freshmen Gather for Blueprints: Photo Gallery</h4>
                  </div>
                </div></a>
            </div>
          </div><a class="button button-lg button-primary wow fadeIn" href="https://www.facebook.com/profile.php?id=100050417246864" target="_blank" data-wow-delay=".2s"><span>View All Posts</span></a>
        </div>
      </section>

      <!-- Page Footer-->
  
{% endblock %}